body {
	background-color: #404040;
}

.header h2 {
	color: #cccccc;
}

.header p {
	color: #999999;
}

#movies-container {
	margin-top: 20px;
}

.card{
	margin-left:15px;
	margin-right:15px;
	margin-bottom:15px;
	background-color: #999999;
}

.btn-primary{
	vertical-align: bottom;
}
